@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', 'sans-serif'
}

/* ----- Customising the Body class ----- */
body {
    /* ----- Background Colour of Website ----- */
    background: #1f242d
}


/* ----- Customising the Headers ----- */
.header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 

    /* --- Navbar colour --- */
    background-color: rgb(29, 201, 201);
}



/* ----- Website Logo Formatting ----- */
.website_logo {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor:default;
}



/* ----- Navbar Formatting ----- */
.navbar a{
    font-size: 18;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px 15px;
}



/* ----- Colour Of Tab When Hovering ----- */
.navbar a:hover{
    color: #A020F0;
    box-shadow: 0 0 10px #0ef; 

    /* --- Box surrounding Nav Options --- */
    display: inline-block;
    padding: 5px 15px;
    background: rgb(37, 193, 204);
    border-radius: 40px;
    color: #1199d8;
}



/* ----- Colour Of Current Tab ----- */
.navbar a.active{
    color: rgb(17, 20, 231);


    /* --- Box surrounding Nav Options --- */
    display: inline-block;
    padding: 5px 15px;
    background: rgb(37, 193, 204);
    border-radius: 40px;
}


/* --------------- Home Section Customisation --------------- */
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

/* ----- Home Content Customisation ----- */
.home_content{
    max-width: 600px;
    color:#fff
}

/* --- Hello & Job --- */
.home_content h1, h3 {
    font-size: 32px;
    font-weight: 600;
}

.home_content h3 span{
    color: #0ef
}

/* --- Name --- */
.home_content h2{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

/* --- Paragraph --- */
.home_content p {
    font-size: 16px;

}


/* ----- Social Media Icons ----- */
.social_media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 90%;
    color: #0ef;
    text-decoration: none;
    font-size: 30px;
    transition: 1 ease;

    margin-top: 35px;
    margin-right: 30px;

}

/* --- Social Media Hover Color --- */
.social_media a:hover{
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef; 
}


/* ----- Home Image ----- */
.home_image img{
    max-width: 450px;
    margin-right: -20px;
}



/* ----- Download CV Button ----- */
.button{
    margin: 30px 0px;
    display: inline-block;
    padding: 12px 30px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef; 
    font-size: 18px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

/* --- Download CV Hover Button */
.button:hover{
    box-shadow: 0 0 20px #0ef;
    color: #ffffff;
}

